@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Syncopate:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
   font-family: Syncopate, sans-serif;
   scroll-behavior: smooth;
}

body {
   background-color: #C2F4FF;
}
.custom-text {
   writing-mode: vertical-lr;
}